<div class="container">
  <div class="card shadow mb-4">                   
    <div class="card-body"> 
     <table class="table table-striped">
        <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Date Création</th> <th>Catégorie</th> <th>Image</th></tr>          
         @for (produit of produits; track produit.idProduit)
         {
          
          <tbody >
            <tr >
                <td>{{produit.idProduit}}</td>
                <td>{{produit.nomProduit}}</td>
                <td>{{produit.prixProduit}}</td>
                <td>{{produit.dateCreation | date:'dd/MM/yyyy'}}</td>

                @if(produit.categorie){ 
                  <td>{{produit.categorie.nomCat}}</td>  }
                @else {
                  <td>PAS DE CATEGORIE</td>
                }
                <td><img class="card-img-top img-responsive" src = "{{produit.imageStr}}" style = "height: 50px; width: 100px"></td>
                <!--//stockage des images dans un fichier
                src="{{apiurl+'/image/loadfromFS/'+produit.idProduit}}"-->
                @if(authService.isAdmin()) {
                  <td><a class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</a></td> 
                  <td><a class="btn btn-success" [routerLink]="['/updateProduit',produit.idProduit]">Modifier</a></td>
                }
                
             </tr>                                    
          </tbody>
         }   
      

    </table>
    </div>
  </div>
</div> 